﻿<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title</title>
<style type="text/css">
    .field-validation-error {
        color: #f00;
    }

    .validation-summary-errors {
        color: #f00;
        fontweight: bold;
    }

    .input-validation-error {
        border: 2px solid #f00;
        background-color: #fee;
    }

    input[type="checkbox"].input-validation-error {
        outline: 2px solid #f00;
    }
</style>
</head>
<body>
    @RenderBody()
</body>
</html>