﻿@model BelajarRocketversity.Models.AddressSummary
@{
    ViewBag.Title = "AddressSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddressSummary</h2>
<div>
    <label>City:</label>
    @Html.DisplayFor(m => m.City)
</div>
<div>
    <label>Country:</label>
    @Html.DisplayFor(m => m.Country)
</div>
