﻿@model BelajarRocketversity.Models.Person
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h2>Person</h2>
    <div>
        <label>ID:</label>
        @Html.DisplayFor(m => m.PersonId)
    </div>
    <div>
        <label>First Name:</label>
        @Html.DisplayFor(m => m.FirstName)
    </div>
    <div>
        <label>Last Name:</label>
        @Html.DisplayFor(m => m.LastName)
    </div>
    <div>
        <label>Role:</label>
        @Html.DisplayFor(m => m.Role)
    </div>
    <div>
        <label>City:</label>
        @Html.DisplayFor(m => m.HomeAddress.City)
    </div>
    <div>
        <label>Country:</label>
        @Html.DisplayFor(m => m.HomeAddress.Country)
    </div>

</main>