﻿@model BelajarRocketversity.Models.Appointment
@{
    ViewBag.Title = "Completed";
}

<h4>Your appointment is confirmed</h4>
<p>Your name is: <b>@Html.DisplayFor(m => m.ClientName)</b></p>
<p>
    The date of your appointment is:
    <b>@Html.DisplayFor(m => m.Date) </b>
</p>
