﻿@model BelajarRocketversity.Models.Appointment
@{
    ViewBag.Title = "Make A Booking";
    Layout = "~/Views/Shared/Layout2.cshtml";
} 
<h4>Book an Appointment</h4>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>@Html.ValidationMessageFor(m => m.ClientName)</p>
    <p>
        Your name: @Html.EditorFor(m => m.ClientName)
    </p>
    <p>@Html.ValidationMessageFor(m => m.Date)</p>
    <p>
        Appointment Date: @Html.EditorFor(m => m.Date)
    </p>
    <p>@Html.ValidationMessageFor(m => m.TermsAccepted)</p>
    <p>
        @Html.EditorFor(m => m.TermsAccepted) I accept
    the terms & conditions
</p>
<input type="submit" value="Make Booking" />
}